[submodule "docs/examples/metamaquina2"]
	path = docs/examples/metamaquina2
	url = https://github.com/machinome-foundry/Metamaquina2.git
	branch = main
[submodule "docs/examples/pascaline"]
	path = docs/examples/pascaline
	url = https://github.com/machinome-foundry/Pascaline-module.git
[submodule "docs/examples/curta"]
	path = docs/examples/curta
	url = https://github.com/machinome-foundry/Curta-Type-I-3x.git
