include AI-USE.md
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
recursive-include LICENSES *.txt
include README.rst

recursive-include machinome/manager/templates *
include machinome/vet/universe.toml

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
